/target/
!.mvn/wrapper/maven-wrapper.jar

### Stray build/log output ###
out.txt
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Node / React (DriveMe-react) ###
node_modules/
DriveMe-react/node_modules/
DriveMe-react/dist/
DriveMe-react/.vite/
DriveMe-react/node_modules
*.local
.env
.env.local
